<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= pageTitle %></title>
  <%- include('../layouts/head'); -%>
  <!-- Custom styles -->
  <link href="styles/dashboard.css" rel="stylesheet">
</head>

<body>
  <%- include('../layouts/cores'); -%>
  <%- include('../layouts/navbar'); -%>
    <div class="container-fluid">
      <div class="row">
        <%- include('../layouts/sidebar'); -%>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <% if (locals.error) { %>
              <div>
                <h6><%= error.message %></h6>
              </div>
            <% } %>
            <% if (locals.list) { %>
              <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                <h1 class="h4"><%= pageTitle %></h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group ml-2 py-2 py-lg-0">
                    <button class="btn-without-selected btn btn-sm btn-outline-secondary" 
                    data-toggle="modal" data-target="#addModal">Thêm</button>
                    <button class="btn-with-selected btn btn-sm btn-outline-secondary disabled" 
                    data-toggle="modal" data-target="#editModal">Sửa</button>
                    <button class="btn-with-selected btn btn-sm btn-outline-secondary disabled" 
                    data-toggle="modal" data-target="#delModal">Xóa</button>
                  </div>
                </div>
              </div>

              <div class="table-responsive card-body">
                <table id="table_id" class="table table-hover">
                  <thead>
                    <tr>
                      <th></th>
                      <th scope="col">#</th>
                      <th scope="col">ID_HOADON</th>
                      <th scope="col">ID_KHAMBENH</th>
                      <th scope="col">NGAYHD</th>
                      <th scope="col">NGUOIPT</th>
                      <th scope="col">TONGTIEN</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i=0; i<list.length; i++) { %>
                      <tr>
                        <td class="select-checkbox"></td>
                        <th scope="row"><%= i + 1 %></th>
                        <td><%= list[i].ID_HOADON %></td>
                        <td><%= list[i].ID_KHAMBENH %></td>
                        <td><%= list[i].NGAYHD %></td>
                        <td><%= list[i].NGUOIPT %></td>
                        <td><%= list[i].TONGTIEN %></td>
                      </tr>
                      <% } %>
                  </tbody>
                </table>
              </div>
            <% } %>
          </main>
      </div>
    </div>

    <%- include('../layouts/bottom'); -%>
    <%- include('../layouts/bill.modals/add.modal.ejs'); -%>

</body>
</html>